<IfModule mod_rewrite.c>
    RewriteEngine  on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    RewriteCond %{REQUEST_URI} [0-9]$
    RewriteRule ^(.+)$ #$1 [L,NE]

    RewriteCond %{REQUEST_URI} result/(.*)
    RewriteRule ^(.+)$ #$1 [L,NE]

    RewriteCond %{REQUEST_URI} create(\/)?$ 
    RewriteRule ^(.+)$ #$1 [L,NE]
</IfModule>