@import "mixins";
@import "variables";
@import "helpers";
@import "col.css";
@import "12cols.css";

html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.jotpoll {
  font-family: $app-universal-font-family;
  white-space: nowrap;

  &.section {
    .division {
      @extend %full-height;
      width: 400px;
      display: inline-block;
      vertical-align: top;
      background: #F4F6F9;
      // border-right: 1px solid #ececec;

      &.navigation {
        border: none;
        width: 65px;
        display: none;
      }

      &.data-list {

      }
    }

    .section-title {
      background-color: $section-title-bg-color;
      color: $section-title-txt-color;
      font-size: 0.9em;
      border-right: 1px solid #617386;
      position: relative;

      .title-content {
        padding: 20px;
      }

      .icon-container {
        padding: 0 5px;

        .icon {
          display: inline-block;
          padding-left: 10px;
        }

        .link {
          color: #fff;
          text-decoration: none;
        }

        &.right {
          float: right;
        }
      }

      .section-search {
        padding: 11px;
        -webkit-animation-duration: 0.3;
        -moz-animation-duration: 0.3;

        .searchbox {
          padding: 8px;
          color: #fff;
          background: #097f80;
          font-family: "Open Sans", sans-serif;
          font-size: 15px;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid #097f80;
          border-top: none;
          outline: 1px;

            &::-webkit-input-placeholder {
               color: #fff;
            }

            &:-moz-placeholder { /* Firefox 18- */
               color: #fff;  
            }

            &::-moz-placeholder {  /* Firefox 19+ */
               color: #fff;  
            }

            &:-ms-input-placeholder {  
               color: #fff;  
            }
        }

        .search-close {
          position: absolute;
          top: 12px;
          right: 12px;
          padding: 8px 10px;
          background: #097f80;
          border-left: 1px solid #1e7a7b;

          .fa {
            font-size: 15px;
          }
        }
      }

      .section-search-content {
        width: 100%;
        height: 100vh;
        background: #feffff;
        opacity: 0.8;
        position: absolute;
        left: 0;
        z-index: 5;

        -webkit-animation-duration: 0.2s;
        -moz-animation-duration: 0.2s;
      }
    }
  }
  
  .list-container {
    position: relative;

    .list-loader-overlay {
      position: absolute;
      width: 100%;
      z-index: 5;
      background: #fff;
      opacity: 0.8;
    }

    .list {
      padding: 10px 20px;
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;

      &.scroll {
        overflow-y: scroll;
      }

      .list-item {
        cursor: pointer;
        background: $list-item-bg-color;

        i.fa {
          // position: absolute;
          // top: 13px;
          // left: 20px;
        }

        position: relative;
        padding: 10px;
        border-bottom: 1px solid #ECECEC;
        border-right: 1px solid #ECECEC;
        border-left: 1px solid #ECECEC;

        &.with-left-icon {
          padding-left: 50px;

          .left-icon {
            position: absolute;
            top: 7px;
            left: 20px;
          }
        }

        &.with-right-icon {
          padding-right: 50px;

          .right-icon {
            position: absolute;
            top: 7px;
            right: 0px;
            padding: 5px 20px 5px 10px;
            margin: 0;
            background: #f4f6f9;
          }
        }

        .list-item-content {
          display: inline-block;
          margin: 0;
        }

        // &.right-icon {
        //   padding-right: 50px;

        //   i.fa {
        //     right: 20px;
        //   }
        // }

        * {
          margin: 5px 0;
        }

        .primaryText {
          color: $list-item-text-color;
          // font-size: 0.9em;
          font-size: 14px;
          font-weight: 600;
        }

        .secondaryText {
          // font-size: 0.9em;
          font-size: 14px;
          color: $list-item-date-color;
        }

        &.disabled {
          opacity: 0.3;
          cursor: not-allowed;
        }
      }
    }
  }

  .dropdownWrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 2px;

    &:focus {
      border-color: #564632;
    }

    &:hover:not('.disabled') {
      border-color: #b39d83;

      &:after {
        background-color: #b39d83;
      }
    }

    &.disabled {
      opacity: 0.7;
    }

    .dropdown {
      -webkit-appearance: none;
      -moz-appearance: button;
      appearance: none;
      font: inherit;
      margin: 0;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 24px;
      height: 36px;
      color: #564632;
      display: inline-block;
      cursor: pointer;
      background-color: #fff;
      outline: 0;
      border: 0;
      z-index: 3;
      width: 100%;
      border-radius: 2px;

      &[disabled] {
        cursor: not-allowed;
      }
    }

    .dropdownMask {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 32px;
      pointer-events: none;
      padding-top: 16px;
      text-align: center;
      background: #fff;

      &:before {
        display: inline-block;
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 9px solid #564632;
        position: absolute;
        top: 15px;
        right: 10px;
      }

      &:after {
        display: inline-block;
        content: "";
        position: absolute;
        width: 1px;
        top: 0;
        bottom: 0;
        background-color: #d9cec1;
        right: 32px
      }
    }
  }

  .justify {
    text-align: justify;
  }

  .button-like {
    cursor: pointer;
  }

  .table {
    display: table;

    .table-cell {
      display: table-cell;

      &.valign-middle {
        vertical-align: middle;
      }

      &.valign-top {
        vertical-align: top;
      }

      &.valign-bottom {
        vertical-align: bottom;
      }
    }
  }

  .input-group {
    width: 100%;

    input {
      border: 1px solid #cecece;
      padding: 6px 12px;
      line-height: 24px;
      width: 100%;
      box-sizing: border-box;
      outline: 1px;
    }

    .suffix {
      border: 1px solid darkgrey;
      border-left: none;
      position: relative;
      box-sizing: border-box;
      width: 1%;
      padding: 3px;

      .colorpicker {

        .react-colorpicker {
          width: 28px;
          height: 28px;
          display: block;
          cursor: pointer;

          .colorpicker-trigger,
          .react-colorpicker-trigger {
            width:100%;
            height: 100%;
            padding: 0;
            border-radius: 0px;
            box-shadow: none;
            border: none;
          }
        }
      }
    }
  }

  .input-button {
    button {
      padding: 10px;
      width: 100%;
      border: 1px solid #3f5973;
      background: #3f5973;
      color: #fff;
      cursor: pointer;
      outline: 1px;

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  .input-icon {
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;

    .fa {
      font-size: 18px;
      color: #3f5973;
    }
  }

  .input-text {
    white-space: normal;
    font-size: 13px;
    padding: 2px;
  }

  .granim {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-image: url('/assets/congruent_pentagon.png');
  }

  .cu-pointer {
    cursor: pointer;
  }

}

.rc-tooltip{
  .rc-tooltip-inner {
    max-width: 130px;
    min-height: 100%;
    font-size: 1.1em;
    font-family: Roboto, sans-serif;
  }
}