@import "mixins";
@import "variables";
@import "helpers";

html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.jotpoll {
  font-family: $app-universal-font-family;
  white-space: nowrap;

  &.section {
    .division {
      @extend %full-height;
      width: 400px;
      display: inline-block;
      vertical-align: top;
      background: #F4F6F9;

      &.navigation {
        border: none;
        width: 65px;
        display: none;
      }

      &.data-list {

      }
    }

    .section-title {
      background-color: $section-title-bg-color;
      color: $section-title-txt-color;
      padding: 20px;
      font-size: 0.9em;
      border-right: 1px solid #617386;

      .icon-container {
       padding: 0 5px;

        &.right {
          float: right;
        }
      }
    }
  }

  .list {
    padding: 10px 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    &.scroll {
      overflow-y: scroll;
    }

    .list-item {
      cursor: pointer;
      background: $list-item-bg-color;

      i.fa {
        // position: absolute;
        // top: 13px;
        // left: 20px;
      }

      position: relative;
      padding: 10px;
      border-bottom: 1px solid #ECECEC;
      border-right: 1px solid #ECECEC;
      border-left: 1px solid #ECECEC;

      &.with-left-icon {
        padding-left: 50px;

        .left-icon {
          position: absolute;
          top: 7px;
          left: 20px;
        }
      }

      &.with-right-icon {
        padding-right: 50px;

        .right-icon {
          position: absolute;
          top: 7px;
          right: 20px;
          padding: 0 10px;
          margin: 0;
        }
      }

      .list-item-content {
        display: inline-block;
        margin: 0;
      }

      // &.right-icon {
      //   padding-right: 50px;

      //   i.fa {
      //     right: 20px;
      //   }
      // }

      * {
        margin: 5px 0;
      }

      .primaryText {
        color: $list-item-text-color;
        font-size: 0.9em;
        font-weight: 600;
      }

      .secondaryText {
        font-size: 0.9em;
        color: $list-item-date-color;
      }

      &.disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }
  }
}