.loading {
  display: table;
  width: 100%;
  height: 100vh;

  .wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    .spinner {
      div {
        background-color: #34495E;
      }

      &.wave {
        display: inline-block;
        height: 50px;

        &>div {
          margin-right: 1px;
        }
      }

      &.three-bounce {
        &>div {
          width: 13px;
          height: 13px;
        }
      }

      .rotating-plane {
        display: inline-block;
      }
    }



    .text {
      padding: 10px;
      font-family: "Roboto", sans-serif;
      font-size: 1.1em;
      color: #34495E;
    }
  }

  &.startup {
    .wrapper {
      .spinner {
        div {
          background-color: #fff;
        }
      }

      .text {
        color: #fff;
      }
    }
  }

}
