@import "mixins";
@import "variables";

.jotpoll {
  &.section {
    .questionpicker-cont {
      display: inline-block;
      width: 300px !important;

      .section-title {
        background-color: #ffcc00;
        color: #565656;
        background-image: url('/assets/pw_maze_white.png');
        background-blend-mode: multiply;
      }

      .questionpicker-list {
        .list-item {
          &:not(.disabled) {
            @include list-item-mixin(
              $list-item-selected-color,
              $list-item-hover-color,
              $list-item-fonts-icon-color-available
            );
          }
        }
      }
    }
  }
}
