<div class="form-division code-generator">
    <!--<h1 for="generatedFormData" class="form-label">Form Data Generated</h1>-->
    <span>Copy the generated URL and make it as your Thank you Custom message URL, to view the poll results after a submission.</span>
    <textarea id="generatedFormData" <%=isDisabled%>></textarea>
    <button id="copyToClipboard" class="btn btn-large btn-inverse" <%=isDisabled%>>Copy to Clipboard</button>
    <a href="#" id="visitLinkButton" class="btn btn-large btn-primary" target="_blank" <%=isDisabled%>>Visit Link</a>
</div>